* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 28px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}

.line-3 {
    --line-clamp: 3;
}

.line-4 {
    --line-clamp: 4;
}

.break-all {
    word-break: break-all;
}

.btn {
    display: inline-block;
    border: none;
    color: transparent;
    padding: 20px 41px;
    min-width: 186px;
    cursor: pointer;
    background: #1ebfc1;
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #ffffff;
}

.cusor {
    cursor: pointer;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -50px;
    z-index: 1;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0 8px;
}

.header .nav ul {
    display: flex;
}

.header .nav .nav-item {
    margin-left: 39px;
}

.header .nav .nav-item:first-child {
    margin-left: 39px;
}

.header .nav .nav-item {
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.header .nav .nav-item:hover {
    color: #1ebfc1;
}

.header .btn-header {
    background-color: transparent;
    display: inline-block;
    border: none;
    padding: 12px 24px;
    min-width: 108px;

    cursor: pointer;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: #494949;
}

.header .btn-header:hover {
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    color: #1ebfc1;
}

/* Hero */
.hero {
    padding: 50px 0 79px;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero .left-section {
    width: 50.8%;
}

.hero .left-section .desc-1 {
    font-size: 1.4rem;
    color: #767e7e;
}

/* .hero .left-section .desc-1::before {
    content: "";
    background: url(/assets/logo/right-arrow.svgx);
} */

.hero .left-section .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
    width: 458px;
}

.hero .left-section .desc-2 {
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
    width: 374px;
}

.hero .left-section .button-item {
    margin-top: 52px;
}

.hero .button-item .ctn-hero {
    margin-left: 50px;
    border: none;
    background-color: transparent;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    cursor: pointer;
}

.hero .button-item .ctn-hero:hover {
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero .image-content {
    position: relative;
    display: block;
    width: 49.2%;
}

.hero .image-content .image {
    object-fit: cover;
    width: 576px;
    height: 631px;
}

.hero .courses {
    position: absolute;
    top: 149px;
    left: -43px;
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero .courses .image-list .book {
    position: absolute;
    top: 17px;
    left: 25px;
}

.hero .courses .image-list .book-rec {
    position: absolute;
    top: 45px;
    left: 29px;
}

.hero .courses .desc {
    position: absolute;
    right: 25px;
    margin-left: 16px;
    width: 55px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero .schedules {
    position: absolute;
    top: 453px;
    left: -62px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 124px;
    height: 132px;
    background: #fff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .schedules .image-list {
    margin-bottom: 25px;
}

.hero .schedules .image-items {
    display: block;
}

.hero .schedules .image-items:nth-child(2) {
    margin-top: 12px;
}

.hero .schedules .image-items:nth-child(3) {
    margin-top: 10px;
}

.hero .schedules .image-items:nth-child(4) {
    margin-top: 16px;
    margin-left: 24px;
}

.hero .schedules .desc {
    margin-top: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero .students {
    position: absolute;
    top: 500px;
    right: 45px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .students .image-items {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .students .image-list {
    margin-bottom: 17px;
    margin-left: 35px;
}

.hero .students .image-items + .image-items {
    margin-left: -7px;
}

.hero .students .desc {
    margin: 17px 35px 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

/* Features */
.features {
    padding: 130px 0;
}

.features .main-content {
    width: 1024px;
}

.features .desc-1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
    width: 577px;
}

.features .desc-2 {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
    width: 590px;
}

.features .row {
    display: flex;
    margin-top: 80px;
}

.features .row .sub-heading {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}
/* 37 42 21 */
.features .item:nth-child(1) {
    width: 37%;
}

.features .item:nth-child(2) {
    /* margin-left: 209px; */
    width: 42%;
}

.features .item:nth-child(3) {
    /* margin-left: 200px; */
    width: 21%;
}

.features .item .desc-3 {
    width: 178px;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

.features .item:nth-child(2) .desc-3 {
    width: 226px;
}

.features .item:nth-child(3) .desc-3 {
    width: 226px;
}

/* Courses */
.courses {
}

.courses .desc-1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.courses .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .desc-2 {
    margin-top: 19px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
    width: 525px;
}

.courses .ctn-course {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.courses .row-2 {
    margin-top: 79px;
    display: flex;
    gap: 47px;
    justify-content: space-between;
}

.courses .row-2 .item {
    position: relative;
}

.courses .item .image {
    width: 359px;
    height: 393px;
    object-fit: cover;
    opacity: 0.75;
    border-radius: 8px;
}

.courses .item .content-image {
    background: #fff;
    position: absolute;
    width: 325px;
    top: 322px;
    left: 17px;
    padding: 18px 25px 29px;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    z-index: 1;
}

.courses .content-image .sub-heading {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.courses .content-image .desc-3 {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .desc-3 strong {
    color: #0d1111;
    font-weight: 700;
}

.courses .desc-4 {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses .row-3 {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.courses .sub-item {
    position: relative;
}

.courses .row-3 .sub-item:nth-child(1) {
    margin-left: 16px;
}

.courses .row-3 .sub-item:nth-child(2) {
    margin-left: 26px;
}

.courses .row-3 .sub-item::before {
    position: absolute;
    content: "";
    left: -15px;
    top: 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

/* Figures */
.figures {
    margin-top: 265px;
}

.figures .main-content {
    width: 862px;
    /* margin: 0 auto; */
}

.figures .figure-content {
    display: flex;
    justify-content: space-between;
}

.figures .figure-content .figure-heading {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    text-align: center;
    color: #0d1111;
}

.figures .figure-content .desc {
    margin-top: 11px;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #767e7e;
}
